body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.rc-slider-right {
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 80%;
}
.rc-slider-left {
  position: absolute;
  left: 30px;
  bottom: 20px;
  height: 80%;
}
.rc-slider-master {
  position: absolute;
  right: 80px; 
  bottom: 20px;
  height: 80%;
}
.rc-slider-handle {
  width: 30px;
  height: 30px;
}
.rc-slider-rail {
  width: 20px;
}
.rc-slider-track {
  width: 20px;
}
.rc-slider-vertical .rc-slider-rail {
  width: 20px;
}
.rc-slider-vertical .rc-slider-track {
  width: 20px;
}

button {
  font-size: 30px;
  padding: 20px 10px;
  background-color: #96dbfa;
  border: 0;
  border-radius: 5px;
  user-select: none;
}
button:active {
  border: 1px solid black;
}
.gear-selector {
  position: absolute;
  left: 80px;
  bottom: 20px;
  height: 80%;
}